<a href="https://colab.research.google.com/github/IamPrachi/PythonLibraries/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#path = "/content/drive/MyDrive/pokemon_data.csv"

In [ ]:
#pd.read_csv(path)
#you can do same for excel file,txt=you have to set delimeter so that the data comes out to be cleaner

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/pokemon_data.csv")
print(df.head(3))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False

In [ ]:
#df.columns
#print(df['Name'])
#print(df.Name)
#print(df[['Name','Type 1','HP']])
#print(df.head(4))
#print(df.iloc[1])
#print(df.iloc[0:4])
#print(df.iloc[2,1])

Venusaur

In [ ]:
#to read data from row to row
'''for index,row in df.iterrows():
  #print(index,row)
  print(index,row['Name'])'''

"for index,row in df.iterrows():\n  #print(index,row)\n  print(index,row['Name'])"

In [ ]:
#df.loc[df['Type 1']=='Fire']

High description of data( min ,max, mean, std, dev,etc.)

In [ ]:
#df.describe()

Sorting/Describing Data

In [ ]:
#Sort values by name
#df.sort_values('Name')
#df.sort_values('Name',ascending=False)
#df.sort_values(['Type 1', 'HP'],ascending=[1,0])
#In above type 1 will be ascending and HP will be in descending

Making changes to the data

In [ ]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
#once total column is added you can comment it out then also it will show the total column in result

#to drop a column(making it disapper)
#df = df.drop(columns=['Total'])

#Below axis=1 is to add it horizontly
df['Total'] = df.iloc[:, 4:10].sum(axis=1)

#To make total column appear before
cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]]+cols[4:12]]
df.head(5)
#3+44+44

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,True

Saving our Data (Exporting into Desired Format)

In [ ]:
#df

#Save the modified into new csv named modified.csv
df.to_csv('modified.csv', index=False)
#Above index=False is done to remove index column

#to have data in excel form
#df.to_excel('modified.xlsx', index=False)

#to have data in txt form..sep stands for separater
#df.to_csv('modified.txt', index=False, sep='\t')

Filtering Data

In [ ]:
#new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

#to get new indices as old one iss quite messy
#new_df.reset_index(drop=True, inplace=True)

#to get all the name which contains mega
#df.loc[df['Name'].str.contains('Mega')]

#to get all the name which does not contains mega
#df.loc[~df['Name'].str.contains('Mega')]

#to filter to onli fire or grass
#df.loc[df['Type 1'].str.contains('Fire|Grass', regex = True)]

#to get data in name category which starts with pi
#import re
#df.loc[df['Name'].str.contains('^pi[a-z]*',flags = re.I, regex=True)]

#to get data in name category which have pi substring anywhere
#import re
#df.loc[df['Name'].str.contains('pi[a-z]*',flags = re.I, regex=True)]


#new_df

#to save data in new file
#new_df.to_csv('filtered.csv')

Conditional Changes

In [ ]:
#to change type 1 fire to flamer
#df.loc[df['Type 1']=='Fire','Type 1'] = 'Flamer'
#df

#convert again ito fire
#df.loc[df['Type 1']=='Flamer','Type 1'] = 'Fire'
#df

#you want all fire pokemon becomes legendary = True
#df.loc[df['Type 1']=='Fire','Legendary'] = True
df.loc[df['Total'] > 500, ['Generation','Legendary']] = ['Test 1', 'Test 2']
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Test 1,Test 2
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Test 1,Test 2
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,Test 1,Test 2
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,Test 1,Test 2
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,Test 1,Test 2
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,Test 1,Test 2
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,Test 1,Test 2

Aggregate Statistics (Groupby)

In [ ]:
#BY GROUPBY YOU CAN DO MEAN,SUM AND COUNT

df = pd.read_csv('modified.csv')
#df

#Find mean of type 1 and sorting it
#df.groupby(['Type 1']).mean()

#sort values of defense instead of type 1
#df.groupby(['Type 1']).mean().sort_values('Defense',ascending= False)

#Sum of all pokemon type 1
#df.groupby(['Type 1']).sum()

#Count of all pokemon type 1
#df.groupby(['Type 1']).count()

#new column with all valued to 1
df['count'] = 1
#df

#Just to get the count column
#df.groupby(['Type 1','Type 2']).count()['count']

df.groupby(['Type 1']).count()['count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

Working with large amounts of data

In [ ]:
#To read data in CHUNKS

#from here we created new dataframe with having same column name as df
new_df = pd.DataFrame(columns=df.columns)
#new_df

for df in pd.read_csv('modified.csv', chunksize=10):
  #print('CHUNK DF')
  #print(df)
  results = df.groupby(['Type 1']).count()
  new_df = pd.concat([new_df, results])